
.mr_1{margin-right:10px;}
.mr_2{margin-right:20px;}
.mr_3{margin-right:30px;}
.mt_1{margin-top:10px;}
.mt_2{margin-top:20px;}
.mt_3{margin-top:30px;}
.mt_4{margin-top:40px;}

.chart_min{width:90%;height:60%;}